html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#featured {
    max-height: 100vh;
    overflow: hidden;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
}


.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enterApp {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.launchContainer{
    position: absolute;
    display: flex;
    width: 435px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #e9e9e949;
    border-radius: 50px;
    height: 60px;
    padding: 0px 3px 0px 8px;
    bottom: 300px;
    z-index: 2;
}


.launchInput {
    padding: 4px;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    z-index: 4;
}
.launchButton {
    height: 54px;
    width: 120px;
    background: #5818be;
    color: #ffffff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    
    
    
}
    


.launchButton:hover {
    cursor: pointer;
    background: #31aece;
    transition: 0.3s ease;
}

::placeholder {
    color: rgb(236, 236, 236);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 1570px) {
   
    }

@media only screen and (max-width: 380px) {

video {
    transform: translate(-300px) scale(90%)
}

#feature {
    min-width: none;
}

.launchContainer {
    bottom: 100px;
    width: 290px;
}

.launchInput {
    width: 30px;
    margin: 0;
    font-size: 16px;
}

.launchButton {
    width: 108px;
}
    }

.shuttleholder {
 width: 100%;
 height: 100vh;

}

.shuttle {
    width: 100%;
    /* object-fit: contain;  */
}

