html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

.marsBG {
  background: url(https://img.wallpapersafari.com/desktop/1920/1080/44/98/fpyhXL.jpg)
  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow: hidden;
position: relative;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.mars {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  overflow: hidden;
  animation-name: reveal;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.button {
  position:absolute;
  height: 100px;
  width: 200px;
  background-color: blue;
}

@keyframes reveal {
  90% {
    background-color: black;
  }

  100% {
    background-color: transparent;
  }
}

.marsimg {
  height: 100vh;
  overflow: hidden;
  z-index: 3;
}

.marsimgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 3;
  overflow: hidden;
  animation-name: rotate;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
}


/* @keyframes zoom {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(105%);
    }

    100% {
        transform: scale(120%);
    }
} */

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(100%);
  }

  80% {
    transform: rotate(20deg) scale(120%);
    filter: blur(0px);
  }

  90% {
    opacity: 1;
  }

  99% {
    opacity: 0.5;
  }

  100% {
    transform: rotate(120deg) scale(600%);
    filter: blur(5px);
    opacity: 0;
    display: none;
  }
}

@media only screen and (max-width: 1919px) {
  .marsimg {
    height: auto;
  }
}
